.container {
    position: relative;
    display: flex;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    padding: 4px;
    justify-content: center;
    color: $white;
    background: $section-bg-primary;
    border: 1px solid $border;
    border-radius: 12px;
    text-align: center;
    white-space: pre-line;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.2s ease all;
}

.tooltipVisible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
