.wrapper {
    background-color: $section-bg-primary;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid rgba($gray, 0.5);

    @media (min-width: 768px) {
        padding: 1.5rem;
    }
    overflow: hidden;

    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 113.78378vw;
        height: 115.13514vw;
        background: linear-gradient(294.25deg, rgba(185, 135, 86, 0.27) 1.06%, rgba(83, 61, 39, 0) 80.88%);
        transform: rotate(-180deg);

        @media (min-width: 768px) {
            width: 26.3125rem;
            height: 18.25rem;
        }

        @media (min-width: 1200px) {
            width: 26.3125rem;
            height: 8.4375rem;
        }
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 115.78378vw;
        height: 120.13514vw;
        backdrop-filter: blur(27px);

        @media (min-width: 768px) {
            width: 28.3125rem;
            height: 20.25rem;
        }

        @media (min-width: 1200px) {
            width: 28.3125rem;
            height: 10.4375rem;
        }
        z-index: 0;
    }
}

.container {
    position: relative;
    z-index: 1;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 1200px) {
        gap: 1rem;
    }

    h1 {
        font-family: $secondary-font;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1;

        @media (min-width: 1200px) {
            font-size: 2.375rem;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.2;
        color: $gray-lite;

        @media (min-width: 1200px) {
            font-size: 1.5rem;
            line-height: 1;
        }
    }
}

.mainInfo {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;

    @media (min-width: 768px) {
        margin-top: 1.5rem;
    }
}

.stats {
    background-color: rgba($gray-blur, 0.6);
    border: 1px solid rgba($border-cards, 0.15);
    border-radius: 1rem;
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.progressContainer {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba($gray, 0.5);

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 6.375rem;
        background: $progress-container-before-bg;
        backdrop-filter: blur(27px);

        bottom: 0;
        right: 0;
        z-index: -2;

        @media (min-width: 1200px) {
            width: 6.8125rem;
        }
    }

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 8.575rem;
        backdrop-filter: blur(27px);

        bottom: 0;
        right: 0;
        z-index: -1;

        @media (min-width: 1200px) {
            width: 10.0125rem;
        }
    }
}

.progressTitleContainer {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 1200px) {
        align-items: center;
    }
}

.progressTitle {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.5rem;

    h2 {
        text-transform: uppercase;
        font-size: 0.875rem;
        line-height: 1;
        color: $gray-lite;
    }

    @media (min-width: 1200px) {
        align-items: center;
    }
}

.progressTitleIcon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressTotal {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    p {
        color: $gray-lite;
    }

    span,p {
        font-size: 0.875rem;
        line-height: 1.2;
    }
}

.progressbarContainer {
    margin-top: 1rem;

    @media (min-width: 1200px) {
        margin-top: 0.8125rem;
    }
}

.achievementsRanks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.achievementsRank {
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid rgba($gray, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 768px) {
        &:first-of-type {
            padding-bottom: 2rem;
        }
    }

    p {
        color: $white;
        font-size: 1.5rem;
        line-height: 1;
    }

    h3 {
        font-size: 0.875rem;
        line-height: 1.2;
        color: $gray-lite;
    }
}
