@import 'styles/variables';

:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --swiper-pagination-bottom: 11px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
    --swiper-pagination-bottom: 11px;
  }
}


.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid $dot-border !important;
  background-color: transparent !important;
  transition: 0.2s ease all !important;
  opacity: 1 !important;

  &:hover {
    background-color: rgba($dot-border, 0.3) !important;
  }

  &-active {
    border: 1px solid $dot-border !important;
    background-color: $dot-border !important;

    &:hover {
      background-color: $dot-border, 0.3 !important;
    }
  }
}

.swiper-wrapper {
    @media (max-width: 1200px) {
      cursor: grab;
    }
}

.layout {
  padding: 0.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: $primary-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;

  @media (min-width: 1200px) {
    font-size: 2.25rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
